doctype html
html(lang='en')
html
  head
    link(href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css" integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous", rel='stylesheet')
    title= 'Home Page'
  body
    main(role="main" class="container")
      div.jumbotron
        each blog in blogs.rows
          h2 Title #{blog.title}
          p.lead Author #{blog.author}
          a(class='btn btn-lg btn-primary' href='read/' + blog.id + '/') Read
